
-- Admin logs table
CREATE TABLE IF NOT EXISTS admin_logs (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    admin_id UUID REFERENCES auth.users(id),
    admin_email TEXT,
    action TEXT NOT NULL,
    target_user_id TEXT,
    target_user_email TEXT,
    details TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Enable RLS
ALTER TABLE admin_logs ENABLE ROW LEVEL SECURITY;

-- Policy: Only admins can view logs (simplified based on email for now as per current logic)
CREATE POLICY \
Admins
can
see
logs\ ON admin_logs
    FOR SELECT
    USING (auth.jwt() ->> 'email' = 'jakub.kroca@contsystem.cz');

-- Policy: Authenticated users can insert logs (the action logic is handled by server-side/client-side admin check)
CREATE POLICY \Admins
can
insert
logs\ ON admin_logs
    FOR INSERT
    WITH CHECK (auth.jwt() ->> 'email' = 'jakub.kroca@contsystem.cz');

